/* Estilos básicos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #1C1C1C;
    border: 1px solid #BB0A1E;
    border-radius: 5px;
    overflow: hidden;
    color: #E0E0E0;
}

/* Estilos para o cabeçalho da tabela */
th {
    background-color: #BB0A1E;
    color: white;
    padding: 10px;
    text-align: left;
}

/* Estilos para as células da tabela */
td {
    padding: 10px;
    border-bottom: 1px solid #333;
}

/* Alternar cores das linhas */
tr:nth-child(even) {
    background-color: #333;
}

/* Efeito ao passar o mouse sobre as linhas */
tr:hover {
    background-color: #444;
}

/* Estilos para links dentro da tabela */
table a {
    text-decoration: none;
    color: #E0E0E0;
}

table a:hover {
    text-decoration: underline;
    color: #BB0A1E;
}



/* Estilos para botões de ação */
button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: rgba(187, 10, 30, 0.1); /* Fundo translúcido com o vermelho da paleta */
    border-radius: 1.25em;
    transition: all 0.2s linear;
    color: #E0E0E0; /* Texto branco */
}

button:hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
        8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
        17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
        36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
        99px 72px 143px rgba(0, 0, 0, 0.08);
}

/* Estilos para tooltips */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo preto translúcido */
    color: #fff; /* Texto branco */
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent; /* Triângulo preto translúcido */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}